# rename the file to ".env"
DISCORD_TOKEN="Your API_KEY here"
DISCORD_GUILD="Discord server name here"

NYLAS_API_KEY="You're API Key here"
NYLAS_API_URI=https://api.us.nylas.com
NYLAS_GRANT_ID="You're Grant ID here"